.vault {
  &.block .title .title-wrapper {
    padding: 0 10px;
    max-width: 100%;
  }

  .vault-submenu {
    .vault-dropdown-box {
      @media (max-width: $small-screen) {
        width: 40%;
      }
      @media (max-width: $extra-small-screen-px) {
        width: 28%;
      }
    }

    .vault-nav {
      @media (max-width: $small-screen) {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        padding-right: 10px;
        text-align: left;

        &::after {
          @include position(absolute, 7px 4px null null)
        }
      }
    }

    .icon-delete,
    .icon-upload {
      @media (max-width: $small-screen) {
        display: none;
      }
    }
  }
}

@media (max-width: $small-screen) {
  a.vault-nav.dropdown-toggle {
    overflow: hidden;
    max-width: 110px;
    display: block;
    white-space: nowrap;
  }
}
