!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.ruby-gemset
/.byebug_history
/.idea
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
/node_modules/*
/vendor/assets/components
/vendor/bundle
/public/assets
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
yarn-error.log*
spec/last_examples.txt
.vscode
