.form-wrapper {
  .invitation-message {
    @include clearfix;
    border-bottom: 1px solid $base-border-color;
    margin-bottom: 2em;
    padding-bottom: 1.4em;

    .sender-avatar {
      @include avatar(74px);
      box-shadow: 0 0 0 4px #fff, 0 0 0 5px darken($base-border-color, 10%);
      float: left;
      margin-right: 1.2em;
    }

    p.message {
      color: $light-font-color;
      font-style: italic;
      overflow: hidden;
    }
  }
}
