@media print {
  header.global-header {
    display: none;
  }

  nav#slide-menu {
    display: none;
  }

  .content {
    box-shadow: none;
  }

  footer {
    display: none;
  }

  .footer-spacer {
    display: none;
  }

  @page {
    margin: 1cm 1cm 1cm 1.5cm;
  }
}
