.pages-wrapper {


  float: none;
  padding: 10em 1em;

  @media (max-width: $small-screen) {


  }

  h3, p, article ul li, article ol li, article ul li > ul.desh > li {
    font-size: 1em;
    line-height: 1.3em;
  }
  
  article a {
    color: #8B78FE;
  }

  li {
    padding: 0px 0 5px 20px;
    list-style-position: inside;
  }

  h3 {
    padding-bottom: 3px;
  }

  p {
    padding: 2px 0 2px 0;
  }
  article {
    ol li {
      list-style-type: lower-latin;
      text-indent: -1em;
    }
    ul li {
      list-style-type: disc;
    }

    li > ul.desh > li {
      list-style-type: none;
      margin-left: 28px;
    }
    li > ul.desh > li:before {
      content: '\2014';
      position: absolute;
      margin-left: -28px;
    }
  }
}
