header.global-header ul.submenu .header-nav-dropdown a.active {
  box-shadow: 0 0 0 transparent;
  color: $light-font-color;
  line-height: 32px;
}

ul.submenu {
  clear: both;
  background-color: rgba(246,246,246,0.9);
  width: 100%;
  text-align: center;
  border-top: 1px solid $header-border-color;
  border-bottom: 1px solid rgba(darken($base-border-color, 10%),0.5);
  height: 36px !important;
  padding: 0.8em 1em;
  z-index: 1;
  position: relative;
  color: $light-font-color;

  .message {
    z-index: 1;
    position: relative;
    margin-top: 0.2em;
    display: inline-block;
    color: $light-font-color;

    &.is-warning {
      @media (max-width: $medium-screen) {
        margin-top: 10px;
        width: 100%;
        text-align: left;
      }

      .text {
        display: inline-block;
        position: relative;
        top: 1px;
        vertical-align: middle;
      }
    }

    .icon-info {
      margin-right: 10px;
      background-color: $warning-color;
    }
  }
}

.submenu-item-left {
  @include position(absolute, 50% null null 0);
  transform: translateY(-50%);
  width: 100%;
}

.submenu-item-left > .pull-left:first-child {
  max-width: 60%;

  @media (max-width: $xx-large-screen) {
    max-width: 50%;
  }

  @media (max-width: $large-screen) {
    max-width: 40%;
  }

  @media (max-width: $small-screen) {
    max-width: 28%;
  }
}

.submenu-item-left.family-edit > .pull-left {
  @media (max-width: $small-screen) {
    max-width: 50%;
  }
}

.family-filters > .pull-left {
  @media (max-width: $large-screen) {
    max-width: 40%;
  }
}

.edit-family-members {
  margin-top: 3em;

  ul.member-list {
    border-top: 1px solid $base-border-color;
    margin: 0;
    padding: 0;
    width: 100%;

    > li {
      @include clearfix;
      transition: all 0.15s linear;
      border-bottom: 1px solid $base-border-color;
      padding: 0.8em 0.4em;
    }
  }

  .avatar {
    @include avatar(36px);
    margin-right: 0.6em;
  }

  .name {
    vertical-align: middle;
  }

  a.remove-member {
    @include rectangular-button("small", "outline", $base-border-color, $red);
    background-color: rgba(255,255,255,0.9);
    color: $light-font-color;
    float: right;
    letter-spacing: 1px;
    margin-top: 0.3em;
    padding: 0.3em 1em;
    text-transform: lowercase;
  }
}

.family-motto {
  &:not(:focus):empty:before {
    position: relative;
    content: attr(placeholder);
    display: block;
  }

  &:focus {
    outline: none;
  }
}
