.family-info {
  display: block;
  padding-top: 20px;
  text-align: center;

  &.edit-mode {
    padding-left: 65px;
    padding-right: 65px;

    @media (max-width: $medium-screen) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .rounded-image {
    margin-bottom: 10px;
  }

  .btn-rounded {
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
  }

  .family-title {
    margin-bottom: 30px;
  }

  .family-name {
    margin-bottom: 15px;

    &.medium-editor {
      line-height: 1.25em;
      color: inherit;
    }
  }

  .family-motto {
    font-size: 20px;
    font-style: italic;
    color: $light-font-color;

    &.medium-editor {
      line-height: $base-line-height;
    }
  }

  .medium-editor {
    padding-left: 20px;
    padding-right: 20px;
  }
}
