.families {
  .family.block {
    box-shadow: 0 0 0 none;
  }
}

.family.block {
  .cover {
    overflow: hidden;
  }
  .cover-bg {
    margin: 0.4em;
  }
}

.family-connector {
  transform: rotate(320deg);
  background-color: #ae43ff;
  color: #FFFFFF;
  cursor: default;
  display: none;
  font-size: 14px;
  height: 26px;
  left: -80px;
  margin-top: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 24px;
  width: 240px;
}

.connector {
  .family-connector {
    display: inline-block;
  }
}

a.open-new-family {
  @include position(absolute, 0px 0px 0px 0px);
  border: 2px dashed $base-border-color;
  display: block;
  text-align: center;

  .wrapper {
    @include position(absolute, 50% null null 0px);
    display: inline-block;
    height: 100px;
    margin-top: -50px;
    width: 100%;
  }

  i.fa.fa-plus {
    transition: all 0.15s linear;
    color: $light-font-color;
    opacity: 0.8;
    font-size: 4.4em;
  }

  .message {
    transition: all 0.15s linear;
    @include position(absolute, null null 20% 0px);
    color: $light-font-color;
    display: inline-block;
    font-style: italic;
    width: 100%;
  }

  &:hover {
    i.fa {
      transform: scale(1.25);
      opacity: 1;
    }

    .message {
      color: $base-accent-color;
    }
  }
}
