.modal_box{
  z-index: 9999 !important;
}
.modal.attachment-preview-modal {
  .modal-content {
    max-width: 70%;

    @media (min-width: $huge-screen-up) {
      max-width: 60%;
    }

    @media (max-width: $xx-large-screen) {
      max-width: 90%;
    }

    @media (max-width: $medium-screen) {
      max-width: 100%;
    }
  }

  .file-name {
    @include ellipsis;
    position: absolute;
    top: 50%;
    left: 1em;
    right: 2em;
    transform: translateY(-50%);
    color: $light-font-color;
  }

  .modal-inner-wrapper {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-left: 0;
    padding: 0;
    width: auto;
  }

  .image-container {
    transition: all 0.2s ease-out;
    position: relative;
    height: 100%;
    padding: 1em;
    text-align: center;

    @media (max-width: $large-screen) {
      margin: 0;
    }

    .image-wrapper {
      $loader-size: 100px;

      pointer-events: all;
      min-height: 120px;
      min-width: 120px;

      &:before {
        @include position(absolute, 50% null null 50%);
        @include size($loader-size);
        animation: loading 1.3s ease-out;
        animation-iteration-count: infinite;
        border: 1px solid $loading-color;
        border-radius: 50%;
        margin-left: -$loader-size / 2;
        margin-top: -$loader-size / 2;
        content: '';
      }
    }

    img {
      display: block;
      margin: 0;
      position: relative;
      height: inherit;
      width: 100%;
    }

    video {
      width: 100%;
    }

    .audio-wrapper,
    .video-wrapper {
      pointer-events: all;
    }
  }
}
