$comments-width: 380px;

.story-modal {
  .modal-content {
    max-width: 90%;

    @media (max-width: $medium-screen) {
      max-width: 100%;
    }
  }

  .modal-inner-wrapper {
    &.hide-comments {
      .modal-comments-container {
        width: 0;
      }

      .image-wrapper {
        margin-right: 0;
      }
    }
  }

  .image-container {
    transition: all 0.2s ease-out;
    height: 100%;
    padding: 2em;
    text-align: center;
    margin-right: $comments-width;

    @media (max-width: $large-screen) {
      margin: 0;
    }

    > .vertical-center {
      height: 600px;

      @media (max-width: $large-screen) {
        min-height: 100px;
      }
    }

    .image-wrapper {
      min-width: 150px; //width of the loader image
      pointer-events: all;
      position: relative;

      &:before {
        @include position(absolute, 50% null null 50%);
        @include size(100px);
        animation: loading 1.3s ease-out;
        animation-iteration-count: infinite;
        border: 1px solid $loading-color;
        border-radius: 50%;
        content: '';
        margin-left: -50px;
        margin-top: -50px;
      }
    }

    img {
      display: block;
      margin: 0;
      position: relative;
      width: 100%;
    }

    & ~ .modal-comments-container {
      @include position(absolute, 0px 0px 0px null);
      border-left: 1px solid $base-border-color;
      width: $comments-width;

      @media (max-width: $large-screen) {
        @include position(relative, null null null null);
        border-left: none;
        border-top: 1px solid $base-border-color;
        min-height: 300px;
        width: 100%;
      }
    }
  }
}
