md-dialog {
  max-width: 700px;
  width: 90%;
  padding: 3em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 3px 60px 0 rgba(0, 0, 0, 0.2);

  &.md-default-theme {
    border-radius: 0;
    color: $light-font-color;
  }

  @media (max-width: $medium-screen) {
    padding: 2em;
  }

  .md-dialog-content {
    padding: 0;
    overflow: visible;
  }

  .md-title {
    @include block-heading();
  }

  p {
    color: $medium-font-color;
    font-weight: 300;
    margin-bottom: 2em;
  }

  md-dialog-actions {
    padding: 0;

    .md-cancel-button.md-default-theme.md-primary { //overriding angular-material head styles
      @include rectangular-button("large", "outline", $light-font-color, $red);
      margin: 0 5px 0 0;
    }

    .md-confirm-button.md-default-theme.md-primary,
    .md-confirm-button.md-default-theme:not([disabled]).md-focused { //overriding angular-material head styles
      @include rectangular-button("large", "solid");
      margin: 0 0 0 5px;

      &:not([disabled]):hover {
        background: lighten($base-accent-color, 5%);
      }
    }
  }
}
