@mixin descriptive-icon($size, $shape: "circle") {
  @include size($size);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  color: $light-font-color;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  @if $shape == "square" {
    border-radius: 0;
  }
}

@mixin avatar($size, $shape: "circle") {
  @include descriptive-icon($size, $shape);
  background-image: image-url("avatar.svg");
}
