.attachments {
  .group-title {
    color: $light-font-color;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid $base-border-color;

    @media (max-width: $medium-screen) {
      margin-bottom: 0;
      padding: 0 0 5px;
      font-size: 18px;
    }
  }

  &.block .title .title-wrapper {
    padding: 0 10px;
    max-width: 100%;
  }

  .attachment-blocks {
    &.selectable {
      .item-mark{
        display: block;
      }
    }
  }

  .attachment-item {
    $select-border-width: 3px;

    float: left;
    margin: 12px 10px;
    width: calc(16.66% - 20px);
    white-space: normal;

    @media (max-width: $medium-screen) {
      width: calc(25% - 20px);
    }

    @media (max-width: $small-screen) {
      width: calc(50% - 20px);
    }

    &.selected {
      $selected-item-border-width: 3px;

      .attachment-block::before {
        @include position(absolute, $selected-item-border-width $selected-item-border-width $selected-item-border-width $selected-item-border-width);
        content: '';
        background-color: rgba(black,.45);
        z-index: 2;
      }

      .cover-bg,
      .cover {
        box-shadow: inset 0 0 0 $selected-item-border-width $doc-color;
      }

      .item-mark {
        display: block;
        background-color: $doc-color;
        border-color: $doc-color;
      }

      .fa-check {
        @include position(absolute, 50% null null 50%);
        display: block;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: white;
      }
    }

    attachment {
      display: block;
    }

    .attachment-block {
      width: 100%;
      margin: 0;
      padding-top: 100%;
      cursor: pointer;
    }

    .item-mark {
      @include position(absolute, null 10px 10px null);
      @include size(30px);
      display: none;
      border-radius: 50%;
      background-color: rgba(white,.5);
      border: 4px solid rgba(black,.3);
      z-index: 2;
    }

    .item-delete {
      @include position(absolute, 10px 10px null null);
      @include size(30px);
      display: block;
      color: white;
      border-radius: 50%;
      background-color: rgba(black,.3);
      border: 1px solid white;
      z-index: 2;

      i {
        @include position(absolute, 6px null null 8px);
      }
    }

    .fa-check {
      display: none;
    }

    .cover-bg {
      bottom: 0;
      background-color: #909dad;
    }

    .cover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: $white;
      background-color: $semi-dark-gray;

      &::before {
        content: none;
      }

      .fa {
        font-size: 3.2em;

        @media (max-width: $medium-screen) {
          font-size: 2.2em;
        }
      }

      .fa-play {
        padding-bottom: 0;

        &::before {
          display: inline-block;
          transform: translateX(25%);
        }
      }
    }

    .file-name {
      $font-size: $base-font-size;
      $line-height: 1.3em;
      $lines-count: 2;
      cursor: pointer;
      overflow: hidden;
      line-height: $line-height;
      width: 100%;
      height: $line-height * $lines-count;
      margin-top: 5px;
      color: $light-font-color;
      word-wrap: break-word;
    }

    textarea.file-name {
      cursor: text;
      border: none;
      box-shadow: none;
      resize: none;
      margin: 0;
      padding: 0;
    }
  }
}
