div.block.attachment-block(
  id='attachment_{{attachment.id}}'
  ng-switch on='attachment.mediaFile.type'
  ng-click="onClick(attachment)"
)
  .item-mark
    i.fa.fa-check
  .item-delete(
    ng-click='onDelete($event, attachment)'
    ng-if='singleDeletable'
    title='{{i18n.t("attachment.action.delete_title")}}'
  )
    i.fa.fa-trash-o
  div(
    ng-switch-when="Image"
    class="cover-bg image"
    ng-style="{'background-image': 'url({{attachment.mediaFile.previewUrl('medium')}})'}"
  )
  div(
    ng-switch-when="Video"
    class="cover-bg cover video"
    ng-style="{'background-image': 'url({{attachment.mediaFile.convertedUrl('thumbnail')}})'}"
  )
    i.fa.fa-play
  div(
    ng-switch-when="Audio"
    class="cover audio"
  )
    i.fa.fa-volume-up
  div(
    ng-switch-default
    class="cover document"
  )
    i.fa.fa-file-text-o

textarea.file-name.js-media-file-title(
  ng-model='attachment.mediaFile.title'
  ng-if='attachment.mediaFile.manageable'
)

.text-truncated.file-name(
  ng-bind='attachment.mediaFile.title'
  ng-title='attachment.mediaFile.title'
  ng-if='!attachment.mediaFile.manageable'
)
