.demo-video-wrapper {
  text-align: center;

  h1 {
    font-weight: 300;
    margin-bottom: 0.4em;
  }

  p {
    color: $medium-font-color;
  }

  .path-options {
    text-align: center;

    a {
      @include rectangular-button("small", "outline", $base-accent-color, $base-accent-color);
    }

    > span {
      margin: 0 1em;
    }

    a,
    span {
      @media (max-width: $extra-small-screen-px) {
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

  .video-wrapper {
    padding: 2em 1em;
  }

  .video-container {
    border: 1px solid $base-border-color;

    @media (max-width: $large-screen) {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
    }
  }

  a.skip-demo {
   color: $light-font-color;

    &:hover {
      color: $red;
    }

    i.fa {
      margin-left: 0.4em;
    }
  }
}
