.homepage-experience {
  $blockPadding: 25px;

  padding: 170px 0 150px;
  background-color: #dcecfb;
  background-image: linear-gradient(to bottom, #edf6ff 0%, #f4f9ff 50%, #dcecfb 100%);

  @media (min-width: $huge-screen-up) {
    padding-bottom: 170px;
  }

  @media (max-width: $extra-large-screen) {
    padding-bottom: 130px;
  }

  @media (max-width: $large-screen) {
    padding: 100px 0;
  }

  .text-wrapper {
    padding-right: $blockPadding;
    padding-left: $blockPadding;
    text-align: center;
  }

  .title {
    @include home-title;
    position: relative;
    display: inline-block;
    font-weight: 300;

    b {
      font-weight: 400;
    }

    &::after {
      display: block;
      margin: 20px auto 0;
      width: 70%;
      height: 3px;
      background-color: $brand-orange-color;
      content: '';

      @media (max-width: $xx-large-screen) {
        margin-top: 15px;
        height: 2px;
      }

      @media (max-width: $large-screen) {
        max-width: 330px;
      }

      @media (max-width: $small-screen) {
        margin-top: 15px;
      }
    }
  }

  .button-wrapper {
    margin-top: 43px;
    text-align: center;

    @media (max-width: $xx-large-screen) {
      margin-top: 35px;
    }

    @media (max-width: $large-screen) {
      margin-top: 25px;
    }

    a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
