.glide-content {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 300;
  text-align: center;
  color: #213343;
}

.glide-content__item {
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
  opacity: 0;
  transition: all 0.6s;

  &:first-child {
    position: static;
  }

  &.glide-content__item--active {
    opacity: 1;
    transition-duration: 0.3s;
  }
}

.glide-content__title {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 0;
  font-size: 42px;
  font-weight: 300;

  @media (max-width: $xx-large-screen) {
    font-size: 35px;
  }

  @media (max-width: $extra-large-screen) {
    font-size: 30px;
  }
}

.glide-content__text {
  margin-top: 20px;
  font-style: italic;
  font-size: 22px;

  @media (max-width: $xx-large-screen) {
    margin-top: 15px;
    font-size: 20px;
  }

  @media (max-width: $extra-large-screen) {
    margin-top: 10px;
    font-size: 18px;
  }

  @media (max-width: $large-screen) {
    line-height: 1.2;
  }
}
