.homepage-top-block {
  position: relative;
  padding: 260px 20px 0;
  background: white image-url('homepage/Top-Block-New.jpg');
  background-position:center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include retina {
    // background-image: image-url('homepage/top-block@2x.jpg');
  }

  @media (min-width: $huge-screen-up) {
    padding-top: 310px;
    height: 1117px;
  }

  @media (max-width: $xx-large-screen) {
    padding-top: 225px;
    // height: 800px;
  }
  @media (max-width: $extra-large-screen) {
    padding-top: 120px;
    // height: 610px;
  }

  @media (max-width: $large-screen) {
    padding-top: 95px;
    padding-bottom: 0;
    height: auto;
    // background-image: image-url('homepage/top-block-medium.jpg');
    // background-position-y: -185px;

    @include retina {
      // background-image: image-url('homepage/top-block-medium@2x.jpg');
    }
  }

  @media (max-width: $home-small) {
    background-position-y: -220px;
  }

  @media (max-width: $extra-small-screen-px) {
    background-position-y: -245px;
  }

  .content-block {
    display: flex;
    justify-content: center;
    width: 45%;

    @media (max-width: $xx-large-screen) {
      width: 40%;
    }

    @media (max-width: $large-screen) {
      display: block;
      width: 100%;
    }
  }

  .text-wrapper {
    // margin: auto;
    max-width: 530px;

    @media (max-width: $xx-large-screen) {
      max-width: 450px;
    }

    @media (max-width: $extra-large-screen) {
      max-width: 400px;
    }

    @media (min-width: $huge-screen-up) {
      max-width: 620px;
    }

    @media (max-width: $large-screen) {
      display: flex;
      flex-direction: column;
    }
  }

  .title {
    @include home-title;
    position: relative;
    padding-bottom: 50px;
    font-weight: 300;
    color: #2c3843;

    @media (max-width: $xx-large-screen) {
      padding-bottom: 32px;
    }

    @media (max-width: $extra-large-screen) {
      padding-bottom: 26px;
    }

    @media (max-width: $small-screen) {
      max-width: 345px;
      margin-left: auto;
      margin-right: auto;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background-color: $brand-orange-color;
      bottom: 10px;
      left: 35%;
      transform: translateX(-50%)
    }

    b {
      font-weight: 400;
    }
  }

  .subtitle {
    margin-top: 42px;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: 400;
    font-size: 26px;
    color: #91989f;

    @media (max-width: $xx-large-screen) {
      margin-top: 30px;
      font-size: 22px;
    }

    @media (max-width: $extra-large-screen) {
      margin-top: 23px;
      font-size: 20px;
    }

    @media (min-width: $huge-screen-up) {
      font-size: 28px;
    }

    @media (max-width: $large-screen) {
      order: 1;
      margin: 465px auto 15px;
    }

    @media (max-width: $home-small) {
      margin-top: 460px;
    }
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;

    @media (max-width: $xx-large-screen) {
      margin-top: 40px;
    }
    @media (max-width: $extra-large-screen) {
      margin-top: 30px;
    }

    @media (max-width: $extra-small-screen-px) {
      margin-top: 12px;
    }

    a {

      &:first-child {
        margin-right: 20px;
      }

      @media (max-width: $extra-small-screen-px) {
        display: block;
        margin: 0 auto;
        width: 120px;
        min-width: 120px;

        &:first-child {
          margin-right: auto;
        }
      }
    }
  }
}
