form(action="//kinscape.us8.list-manage.com/subscribe/post?u=b141ee61040828c941364fc0e&amp;id=d9330218f3"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  )
  input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your Email")
  div(style="position: absolute; left: -5000px;")
    input(type="checkbox" value="2" name="group[3173][2]" checked)
    input(type="text" name="b_b141ee61040828c941364fc0e_d9330218f3" tabindex="-1" value="")
  input(type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button")
