script async="" src="https://fast.wistia.com/embed/medias/bljw491mwn.jsonp"
script async="" src="https://fast.wistia.com/assets/external/E-v1.js"
span.wistia_embed.wistia_async_bljw491mwn class=("popover=true popoverContent=link") style="display:inline"
  = link_to t("home.take_tour_button"), "#", class: "take-tour-button"
