.add-content-wrapper {
  min-height: 48px;
  margin: 2em 0 1.5em;
  position: relative;
  z-index: 1;

  @media (max-width: $medium-screen) {
    margin: 1em 0 0;
  }

  &.bottom {
    padding: 1em 0em 4em;

    @media (max-width: $medium-screen) {
      padding: 2em 0em;

      .add-content {
        padding: 0em 1em;
      }
    }


    .content-menu-toggle {
      display: none;
    }

    .menu-wrapper {
      transition: all 0.3s linear;
      padding-top: 20%;
    }

    section.content-menu {
      transform: scale(1) rotateX(0deg) translateY(0em);
      opacity: 1;
      visibility: visible;
    }
  }
}

.add-content {
  @include outer-container;
  display: block;
  padding: 0em 4em;
  position: relative;
  width: 100%;
  z-index: 2;

  @media (max-width: $medium-screen) {
    padding: 62px 1em 0em;
  }

  .menu-wrapper {
    transition: all 0.5s ease-in-out;
    position: relative;
    padding-top: 0px;
  }

  .content-menu-toggle {
    @include add-button;
    @include position(absolute, 0% null null 0%);
    transition: all 0.5s ease-in-out 0s,
                opacity 0.15s linear 0s,
                border-color 0.15s linear 0s,
                background-color 0.15s linear 0s;

    @media (max-width: $medium-screen) {
      @include position(absolute, 0em 1em 0 1em);
      border-radius: 3px;
      height: 38px;
      width: auto;
    }
  }

  .add-chapter-btn {
    @include add-button-chapter;
    @include position(absolute, 0% null null 0%);
    transition: all 0.5s ease-in-out 0s,
                opacity 0.15s linear 0s,
                border-color 0.15s linear 0s,
                background-color 0.15s linear 0s;

    @media (max-width: $medium-screen) {
      @include position(absolute, 0em 1em 0 1em);
      border-radius: 3px;
      height: 38px;
      width: auto;
    }
  }

  &.active {
    .menu-wrapper {
      transition: all 0.3s linear;
      padding-top: 24%;
    }

    .content-menu-toggle {
      transform: rotate(45deg);
      opacity: 1;
      visibility: visible;

      @media (max-width: $medium-screen) {
        transform: rotate(0deg);

        &:before, &:after {
          transform: rotate(45deg);
        }
      }

      &:hover {
        background: $red;
        border-color: $red;

        &:before, &:after {
          background-color: #fff;
        }
      }
    }

    section.content-menu {
      transform: scale(1) rotateX(0deg) translateY(0em);
      opacity: 1;
      visibility: visible;
    }
  }
}

section.content-menu {
  @include position(absolute, 0px null null 0px);
  transform: scale(0.96) rotateX(80deg) translateY(-40%);
  transition: all 0.5s ease-in-out;
  background: #fff;
  box-shadow: 0 0 0 4px lighten($base-border-color, 8%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  z-index: 3;

  ul.content-options {
    border: 1px solid $base-border-color;
    @include clearfix;

    li.content-option {
      width: 16.66%;
      border-right: 1px solid $base-border-color;
      float: left;
      padding-top: 20%;
      position: relative;

      &:last-child {
        border-right: none;
      }

      .inner-wrapper {
        @include position(absolute, 0px 0px 0px 0px);
      }

      a.vc-cell {
        transition: all 0.15s linear;
        border-right-width: 0px;
        color: $light-font-color;
        padding: 2em 0;
        text-align: center;

        @media (max-width: $medium-screen) {
          padding: 0em;
        }

        &:hover {
          &.text {
            color: $text-color;
          }

          &.vault {
            color: $vault-color;
          }

          &.image {
            color: $image-color;
          }

          &.audio {
            color: $audio-color;
          }

          &.video {
            color: $video-color;
          }

          &.document {
            color: $doc-color;
          }
        }
      }
    }

    i {
      display: block;
      font-size: 4em;
      padding: 0.2em 0;

      @media (max-width: $large-screen) {
        font-size: 2.2em;
      }

      @media (max-width: $small-screen) {
        font-size: 1.4em;
      }
    }

    h3.content-type {
      letter-spacing: 1px;
      font-size: 1em;
      font-style: italic;
      font-weight: normal;

      @media (max-width: $small-screen) {
        display: none;
      }
    }
  }
}
