$blur-value: 2px;

.chapter-edit-container {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px auto;

  @media (max-width: $extra-small-screen-px) {
    display: block;
  }

  .edit-actions {
    grid-column: 1;
    grid-row: 1;
    position: inherit;

    a {
      height: 100%;
    }
  }

  #sectionTitle {
    grid-column: 2;
    grid-row: 1;
    height: 50px;
    margin: 0;
  }

  #rich-editor {
    padding: 0;
    grid-column: 2;
    grid-row: 2;
    width: 100%;

    .trix-button-row {
      flex-wrap: wrap !important;
    }
  }
}

.stories-edit {
  editable-section {
    min-height: 10em;
  }
}

editable-section {
  display: block;

  .blurred {
    -webkit-filter: blur($blur-value);
    -moz-filter: blur($blur-value);
    -o-filter: blur($blur-value);
    -ms-filter: blur($blur-value);
    filter: blur($blur-value);
  }
}

.edit-content-wrapper {
  @include outer-container;
  position: relative;
  z-index: 10;

  .remove-section-wrapper {
    background: rgba($light-red, .75);
    border: 4px solid $red;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    margin-top: -20px;
    min-height: 175px;
    padding-top: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 20;

    .prompt,
    .actions {
      z-index: 25;
    }

    .actions {
      padding: 15px;
    }

    button {
      display: inline-block;
      margin: 1%;
      width: 40%;
    }

    .btn-delete {
      @include rectangular-button("small", "solid", $red, $red);
    }

    .btn-cancel {
      @include rectangular-button("small", "outline", $light-font-color, $purple);
      background: $white;
    }
  }

  .media-attachments {
    margin: 0 auto 1.2em;
    padding: 0 4em;
    position: relative;
    z-index: 1;

    @media (max-width: $medium-screen) {
      padding: 0 1em;
    }
  }

  section.audio,
  section.video,
  section.document {
    @media (max-width: $medium-screen) {
      padding: 0;
    }
  }

  .medium-editor {
    position: relative;

    &:before {
      @include position(absolute, 0em null 0em 0em);
      transition: all 0.15s linear;
      border-right: 2px dashed rgb(230,230,230);
      content: '';
      display: block;
      width: 0px;
    }

    &:after {
      @include position(absolute, 0em null null 2em);
      transition: opacity 0.15s linear;
      color: $medium-font-color;
      font-style: normal;
    }
  }

  input.caption {
    transition: all 0.15s linear;
    background: none;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: $light-font-color;
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    outline: none;
    padding: 0 0.6em;
    text-align: center;
    width: 100%;

    &::placeholder {
      transition: all 0.15s linear;
      color: $light-font-color
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
}

.ui-sortable-helper {
  height: 150px !important;
  background: rgba(255,255,255,0.8);
  border-bottom: 1px solid $green;
  border-top: 1px solid $green;
  box-shadow: 0 3px 30px 0 rgba(0,0,0,0.2);
  overflow: hidden;

  .edit-content-wrapper,
  .add-content-wrapper {
    display: none;
  }
}

.ui-sortable-placeholder {
  height: 200px !important;
  border-bottom: 1px solid $green;
  border-top: 1px solid $green;
  box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.2);
  visibility: visible !important;
  text-align: center;

  &:before {
    color: $light-font-color;
    content: "Drop content here";
    display: inline-block;
    letter-spacing: 2px;
    padding-top: 90px;
    text-transform: uppercase;
  }
}


.photoset {

  .ui-sortable-placeholder {
    height: 150px !important;
    width: 150px !important;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid $green;
    margin-right: 10px;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.2);
    visibility: visible !important;
    text-align: center;
    overflow: hidden;

  }

}
