.payment-plan {
  @include block-heading();
  margin-bottom: 0.2em;

  .plan-title {
    margin-bottom: 0.4em;
  }

  .plan-cards {
    display: flex;
    justify-content: space-around;

    .card {
      transition: all .15s linear;
      border-radius: 12px;
      border: 1px solid $green;
      display: inline-block;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: normal;
      text-align: center;
      text-transform: none;
      cursor: pointer;
      padding: 0.4em;
      background: transparent;
      color: $green;

      &.selected {
        background: $green;
        border-color: darken($green, 16%);
        color: #fff;
      }

      width: 30%;

      p {
        font-size: 0.5em;
        margin-bottom: 0;
        &.title, &.amount {
          font-size: 0.6em;
        }

      }
    }
  }
}

.payment-method__desc {
  @include block-heading();

  p {
    margin-bottom: 0;
    font-size: 0.4em !important;

    &.method-title {
      font-size: 1em !important;
      font-weight: 300;
      margin-bottom: 0.4em;
    }

    &.desc-title {
      font-size: 0.6em !important;
    }
  }
}

.payment-method__submit {
  margin: 1em 0;
}

.payment-method__label {
  margin-top: 1em;
}

.payment-method__errors {
  margin: 1em 0;
  font-size: 0.7em;
  color: red;
}
