@import "bourbon";

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.vertical-center {
  @include size(100%);
  display: table;
}

.center {
  text-align: center;
}

.vc-cell {
  @include size(100%);
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none;
}

.clearfix {
  @include clearfix;
}

.w-100 {
  width: 100% !important;
}
