.block.attachment-block(
  ng-cloak
  id='vault-box-{{box.id}}'
  ng-title='box.name'
)
  .item-delete(
    ng-click='deleteBox($event, box)'
    ng-if='manageable'
    title=t('vaults.box.delete.title')
  )
    i.fa.fa-trash-o
  .cover.document(ng-click='onClick(box)')
    i.fa.fa-archive
textarea.file-name.js-vault-box-name(
  ng-model='box.name'
  ng-if='manageable'
)
.text-truncated.file-name(
  ng-click='onClick(box)'
  ng-bind='box.name'
  ng-if='!manageable'
)
