.section.page-blocks-holder.attachments(
  ng-if='boxes.length'
  ng-class="{'vault-boxes': true, 'horizontally-scrollable': horizontallyScrollable}"
)
  ul.blocks.attachment-blocks
    li.js-box-item.attachment-item(
      ng-repeat='box in boxes'
      ng-class="{selected: isSelected(box)}"
    )
      vault-box(
        box='box'
        on-delete='deleteBox'
        manageable='manageable'
        on-click='onSelectCallback()(box)'
      )
