.vault-breadcrumbs(
    ng-class='extraClass'
  )
  .vault-breadcrumbs__item.vault-breadcrumbs__vaults-link(
    ng-click='showVaultsList()'
    ng-if='!listOfVaultsUrl'
  )
    = t('vaults.list')
  .vault-breadcrumbs__item.vault-breadcrumbs__vaults-link(
    ng-if='listOfVaultsUrl'
  )
    a(ng-href='{{listOfVaultsUrl}}')
      = t('vaults.list')
  .vault-breadcrumbs__item.vault-breadcrumbs__vault-name(
    ng-if='vault'
    ng-bind='vault.name'
    ng-click='backToVaultRoot()'
  )
  .vault-breadcrumbs__item.vault-breadcrumbs__box-name(
    ng-if='box'
    ng-bind='box.name'
  )
