modal.modal.vault-modal(
  ng-class='{ "active": modal.isOpen("vault-modal") }'
)
  div.vault-modal-inner
    a.close(
      href
      ng-click="modal.close()"
      tooltip="#{t('vaults.insert_from_vault_modal.close')}"
      tooltip-placement="top"
    )
    .modal-header
      h3.text-light = t('vaults.insert_from_vault_modal.title')

    .modal-sub-header
      vault-breadcrumbs(
        vault='currentVault'
        box='currentBox'
        on-vault-click='onBoxSelect(null)'
        on-show-vaults-list-click='onVaultSelect(null)'
      )

    .modal-section.vault-content-section
      vaults(
        vaults='vaults'
        on-select='onVaultSelect'
        ng-hide='currentVault'
      )

      vault-boxes(
        manageable='false'
        selected-box='currentBox'
        boxes='boxes'
        on-select-callback='onBoxSelect'
        horizontally-scrollable='false'
        ng-if='boxes.length'
        ng-hide='currentBox'
      )

      grouped-attachments(
        class='grouped-attachments'
        attachments='attachments'
        on-click-callback='onAttachmentClick'
        is-selectable='true'
      )


      .spinner--medium(ng-show='isLoading')

      load-more(
        ng-show='attachments.length && !isLastPage && !isLoading'
        on-load-more='onLoadMore()'
      )


      div(
        ng-if='!isLoading && currentVault && !attachments.length && (!boxes.length || currentBox)'
      )
        = t('vaults.insert_from_vault_modal.empty_vault_or_box')
    .modal-actions(ng-if='selectedAttachments.length')
      button(ng-click='onInsertAttachments()')
        = t('vaults.insert_from_vault_modal.insert')
