.message-container {
  text-align: center;


  .inner {
    // @include animation(pulse-in 0.4s ease-in-out);
    // @include animation-delay(0.4s);
    // @include animation-fill-mode(both);


    border: 1px solid $base-border-color;
    // opacity: 0;
    padding: 4%;

    @media (max-width: $large-screen) {


    }

    &.wide {



      @media (max-width: $large-screen) {


      }
    }
  }

  p.message {
    color: $medium-font-color;
    font-weight: 300;
    margin: 0;
  }

  a {
    @include rectangular-button("small", "outline", $base-accent-color, $base-accent-color);
    margin-top: 2em;
  }
}
