.share-your-story {
  input.family-members-list {
    margin-bottom: 0.4em;
  }

  p.helper {
    font-size: 0.9em;
    font-style: italic;
  }

  label {
    font-size: 14px;
    display: inline;
  }

  .boolean-group {
    margin-top: 2em;
  }

  .time-capsule__date-selector {
    margin-left: 21px;
    font-size: 14px;
  }

  .date-selector {
    &:before {
      content: '\f073';
      width: 30px;
      height: 30px;
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid #dbe0e7;
      border-radius: 50%;
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 0.8em;
      line-height: 30px;
      margin-right: 0.6em;
      text-align: center;
    }
  }

  .date-selector__year {
    height: 26px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    padding: 0 0 0 0.8em;
    border: 1px solid #BBBBBB;
  }

  .date-selector__month {
    display: inline-block;
    height: 26px;
    width: 130px;
    margin: 0 0.5em;
  }

  .date-selector__day {
    display: inline-block;
    height: 26px;
    width: 85px;
  }
}

.new_publication {
  position: relative;

  p.instruction {
    border-bottom: 1px solid $base-border-color;
    color: $light-font-color;
    font-style: italic;
    line-height: normal;
    margin: 0;
    padding: 0.8em;
  }

  ul.options {
    overflow-wrap: break-word;
    padding: 10px 0;

    li.option {
      position: relative;

      &:first-child {
        label {
          border-radius: 3px 3px 0 0;
        }
      }

      input[type="radio"] {
        @include position(absolute, 0.9em null null 1em);
        visibility: hidden;
      }

      label {
        transition: all 0.15s linear;
        border-bottom: 1px solid $base-border-color;
        cursor: pointer;
        font-weight: 300;
        margin: 0;
        padding: 0.8em 1em 0.8em 2.2em;
        position: relative;

        &:hover {
          color: $base-accent-color;
        }

        &:before {
          @include position(absolute, 0.92em null null 1em);
          transition: all 0.15s linear;
          color: $light-font-color;
          content: '\f10c';
          display: block;
          font-family: $icon-font;
          font-size: 0.9em;
          font-style: normal;
          font-weight: 300;
        }
      }

      &:last-child {
        label {
          border-bottom: none;
        }
      }

      input[type="radio"]:checked + label {
        background-color: rgb(245,245,245);
        color: $base-accent-color;

        &:before {
          content: '\f00c';
          color: $green;
        }
      }

      &:first-child label {
        border-radius: 3px 3px 0 0;
      }
    }

    ul.actions {
      padding: 0.8em;

      button.publish {
        @include rectangular-button("small", "solid", $green, $green);
        margin-right: 4%;
        width: 68%;

        i.fa {
          margin: 0;
        }
      }

      a.cancel {
        @include rectangular-button("small", "solid", $red, $red);
        width: 28%;

        i.fa {
          margin: 0 0 0 0.2em;
        }
      }
    }
  }
}

.modal.share-your-story .modal-inner-wrapper {
  @media (max-width: $large-screen) {
    width: -webkit-fill;
    margin-left: 0;
  }

  @media (max-width: $medium-screen) {
    width: -webkit-fill;
    margin-left: 0;
  }
}
